
    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-md-2 col-md-offset-1">
            <p class="text-muted text-left "><a href="{{ site.data.global.url }}">{{ site.data.global.footer_text }}</a></p>
          </div>

          <div class="col-xs-12 col-md-6 col-md-offset-2">
            <a class="section-jump" href="#top">
              <i class="fa fa-angle-up fa-3x"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>

  </div><!-- .main.container -->

    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ site.data.global.url }}/js/wow.min.js"></script>
    <script src="{{ site.data.global.url }}/js/app.js"></script>

    </body>
</html>
